body {
  background-color: #f0f2f5;
  color: #3a3a3a;
}

.header,
.footer {
  background-color: #3f51b5;
  color: #ffffff;
}

.home {
  background: #f0f2f5;
}

.home-button a {
  background-color: #3f51b5;
}

.post-list-item,
.post-list-date,
.post-list-summary {
  color: #3a3a3a;
}

.post-list-item {
  border-bottom: 1px solid #c5cae9;
}

.markdown {
  background-color: #f0f2f5;
  color: #333;
}

.markdown a {
  color: #1a73e8;
  text-decoration: none;
  transition: color 0.3s;
}

.markdown a:hover {
  color: #0b47a0;
  text-decoration: underline;
}

.markdown code {
  background-color: lavender;
  padding: 0.2rem;
}

.move {
  background-color: #3f51b5;
  color: white;
}

.loading {
  background-color: rgba(255, 255, 255, 0.7);
  color: rgba(0, 0, 0, 0.416);
}

.loading-dots::after {
  color: black;
}
