body {
  background-color: #f0f2f5;
  color: #3a3a3a;
}

.header,
.footer {
  background-color: #3f51b5;
  color: #ffffff;
}

.home {
  background: #f0f2f5;
}

.post-list-item,
.post-list-date,
.post-list-summary {
  color: #3a3a3a;
}

.markdown {
  background: #ffffff;
  color: #333;
}

.move {
  background-color: #3f51b5;
  color: white;
}

.loading {
  background-color: rgba(255, 255, 255, 0.7);
  color: rgba(0, 0, 0, 0.416);
}

.loading-dots::after {
  color: black;
}
