body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  min-width: 360px;
  min-height: 100vh;
  background-color: #f0f2f5;
  color: #3a3a3a;
  display: flex;
  flex-direction: column;
}

#root {
  width: 100%;
}

div {
  margin: 0 auto;
  word-break: break-all;
}

.header {
  align-items: center;
  display: flex;
  height: 40px;
  padding: 0 1rem;
  background-color: #3f51b5;
  color: #ffffff;
  cursor: pointer;
}

.footer {
  align-items: center;
  display: flex;
  font-size: 12px;
  height: 40px;
  justify-content: center;
  padding: 0 1rem;
  background-color: #3f51b5;
  color: #ffffff;
}

button {
  background-color: #3f51b5;
  color: #f1f1f1;
  border: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
}

button:hover {
  background-color: #283593;
}

.home {
  background: #f0f2f5;
  color: #3a3a3a;
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 1920px;
}

.post-list-item {
  border-bottom: 1px solid #c5cae9;
  font-weight: 600;
  margin: 0.2rem 0 0 0;
  padding: 0.2rem;
}

.post-list-date {
  font-weight: 500;
  padding: 0.2rem;
  text-align: right;
}

::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.home-button {
  display: flex;
  justify-content: center;
  margin: 1.5em;
  text-align: center;
}

.home-button a {
  background-color: #4a4a4a;
  color: #f1f1f1;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.home-button a:hover {
  background-color: #3c3c3c;
}

.markdown {
  line-height: 1.6;
  color: #333;
  max-width: 800px;
  padding: 2rem;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  font-family: "Roboto Slab", serif;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

.markdown a {
  color: #1a73e8;
  text-decoration: none;
  transition: color 0.3s;
}

.markdown a:hover {
  color: #0b47a0;
  text-decoration: underline;
}

.markdown code {
  display: block;
  background-color: #e8e8e8;
  padding: 0.5em;
  white-space: pre-wrap;
  border-radius: 3px;
  font-family: "Roboto Mono", monospace;
}

.markdown pre {
  background-color: #e8e8e8;
  padding: 1em;
  border-radius: 3px;
  font-family: "Roboto Mono", monospace;
}

.markdown blockquote {
  border-left: 4px solid #ddd;
  padding-left: 1.5em;
  color: #777;
  font-style: italic;
}

.markdown img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.markdown ul,
.markdown ol {
  padding-left: 1.5em;
}

.markdown hr {
  border: 0;
  height: 1px;
  background: #ddd;
  margin: 1em 0;
}
